{% extends "layout.html" %}

{% block title %}
   settings
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('change_password') }}">
    <div>
        <label for="confirmation_password">Type in the old password</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="current_password" placeholder="Current password" type="password">  
        <label for="confirmation_password">Type in the new password</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        <label for="confirmation_password">Confirm new password</label>
        <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation_password" placeholder="Confirmation" type="password">
        <button type="submit">Save changes</button>
    </div>
</form>
{% endblock %}