{% extends "layout.html" %}
<!--got this table from w3schools.com-->

{% block title %}
    Cart
{% endblock %}

{% block content %}
<head>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: rgb(94, 107, 119);
      }
    </style>
</head>
<body>
    <h2>Transaction history</h2>

    <table>
      <tr>
        <th>Item</th>
        <th>Time</th>
        <th>Amount</th>
      </tr>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction['item'] }}</td>
        <td>{{ transaction['timestamp'] }}</td>
        <td>{{ transaction['amount'] }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No transaction found.</td>
      </tr>
      {% endfor %}
    </table>
    
</body>
{% endblock %}
    
