<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="head">
        <h1>Furniture Butik</h1>
        <p>Explore timeless elegance in our Furniture Store.</p>
    </header>
    <div>
            <div class="topnav">
                <a href="{{ url_for('history') }}"><button class="button button5">History</button></a>
                <a href="{{ url_for('settings') }}"><button class="button button5">Settings</button></a>
                <a href="{{ url_for('index') }}"><button class="button button5">Main</button></a>
                <a href="{{ url_for('cart') }}"><button class="button button5">Cart</button></a>
                <a href="{{ url_for('home') }}"><button class="button button5">Homepage</button></a>
                <a href="{{ url_for('logout') }}"><button class="button button5">Logout</button></a>
            </div>
    </div>
   
        <!-- w3schools layout -->
         <!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_clothing_store&stacked=h-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>FURNI</b></h3>
  </div>
  <a onclick="myAccFunc('furniture')" href="javascript:void(0)" class="w3-bar-item w3-button" id="myFurniture">
    Furniture <i class="fa fa-caret-down"></i>
  </a>
  <div id="furniture" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Sofas</a>
    <a href="{{ url_for('furniture') }}" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Tables</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Shelfs</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>antique</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Wordrobe</a>
  </div>

  <a onclick="myAccFunc('exterior')" href="javascript:void(0)" class="w3-bar-item w3-button" id="myexterior">
    Exterior</a>
  </a>
  <div id="exterior" class="w3-bar-block w3-hide w3-padding-large w3-medium">
    <a href="{{ url_for('exterior') }}" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Walls</a>
  </div>
  


  <a onclick="myAccFunc('tools')" href="javascript:void(0)" class="w3-bar-item w3-button" id="myTools">
    Tools<i class="fa fa-caret-down"></i></a>
  <div id="tools" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="{{ url_for('tools') }}" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Floor Panels</a>
      <a href="{{ url_for('wallpapers') }}" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Wallpapers</a>
  </div>
 
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a onclick="myAccFunc('outdoor')" href="javascript:void(0)" class="w3-bar-item w3-button" id="myOutdoor">
      Outdoor</a>
    <div id="outdoor" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="{{ url_for('outdoor') }}" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Swings</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Patio sets</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Gardening</a>
    </div>

  <a onclick="myAccFunc('newin')" href="javascript:void(0)" class="w3-bar-item w3-button" id="myNewin">
    New In</a>
  <div id="newin" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="{{ url_for('newin') }}" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Requested</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Hot</a>
  </div>

</div>
  <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
  <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">FURNI</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header --> <header class="w3-container w3-xlarge"> 
    <p class="w3-left">Sofa</p> 
    <p class="w3-right"> 
      <i class="fa fa-shopping-cart w3-margin-right"></i> 
      <i class="fa fa-search"></i> </p> 
    </header> 
      <!-- Image header --> <div class="w3-display-container w3-container"> 
        <img src="https://i.pinimg.com/736x/95/73/05/957305d723a48f65c8680d6b855fd99b.jpg" alt="sofas" style="width:100%"> 
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px"> 
          <h1 class="w3-jumbo w3-hide-small">New arrivals</h1> 
          <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1> <h1 class="w3-hide-small">COLLECTION 2016</h1> 
          <p><a href="#sofa" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p> 
        </div> 
      </div> 
      <div class="w3-container w3-text-grey" id="sofa"> 
        <p>8 items</p> </div>
         <!-- Product grid --> 
        <div class="w3-row w3-grayscale"> 
          <div class="w3-col l3 s6"> 
            <div class="w3-display-container"> 
            <img src="https://i.pinimg.com/736x/a2/c4/c9/a2c4c9e1c609eb403b2ebe9bdc20b57f.jpg" style="width:100%">
            <div class="w3-display-middle w3-display-hover"> 
              <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
                Buy now <i class="fa fa-shopping-cart"></i> 
              </button> 
            </div>
            <p>Cloud Sofa<br><b>$969.99</b></p> 
          </div> 
          <div class="w3-display-container"> 
            <img src="https://i.pinimg.com/474x/f0/ef/c7/f0efc7c5e77662cf0f4f658e69294a6d.jpg" style="width:100%"> 
            <div class="w3-display-middle w3-display-hover"> 
              <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
                Buy now <i class="fa fa-shopping-cart"></i> 
              </button> 
            </div>
            <p>Chick Sofa<br><b>$389.99</b></p> 
          </div> 
        </div> 
        <div class="w3-col l3 s6"> 
          <div class="w3-container"> 
            <div class="w3-display-container"> 
              <img src="https://i.pinimg.com/236x/ae/0b/fe/ae0bfebedeb1f2e09f08d918b3bb184d.jpg" style="width:100%"> 
              <span class="w3-tag w3-display-topleft">New</span> 
              <div class="w3-display-middle w3-display-hover"> 
                <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
                  Buy now <i class="fa fa-shopping-cart"></i> 
                </button> 
              </div>
            </div> 
            <p>Elegant<br><b>$400.99</b></p> 
      </div> 
      <div class="w3-display-container"> 
        <img src="https://i.pinimg.com/236x/31/c8/b9/31c8b958bd5442fed1ba3d20e8f62ca3.jpg" style="width:100%"> 
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Comfy<br><b>$490.50</b></p> 
      </div> 
    </div> 
    <div class="w3-col l3 s6"> 
      <div class="w3-display-container"> 
      <img src="https://i.pinimg.com/236x/35/b0/13/35b0132ef32b30a7aa50f85ba2c63936.jpg" style="width:100%"> 
      <div class="w3-display-middle w3-display-hover"> 
        <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
          Buy now <i class="fa fa-shopping-cart"></i> 
        </button> 
      </div>
      <p>Cozy<br><b>$890.50</b></p> 
    </div> 
    <div class="w3-container"> 
      <div class="w3-display-container"> 
        <img src="https://i.pinimg.com/236x/b6/52/a4/b652a4193a796ac77d09e68d91d07388.jpg" style="width:100%"> 
        <span class="w3-tag w3-display-topleft">Sale</span> 
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
      </div> 
      <p>Stylish<br><b class="w3-text-red">$1000.99</b></p> 
    </div> 
  </div> 
  <div class="w3-col l3 s6"> 
    <div class="w3-display-container"> 
    <img src="https://i.pinimg.com/474x/1e/1f/4e/1e1f4ef23bec7fdc1d4498ac1c65b0be.jpg" style="width:100%"> 
    <div class="w3-display-middle w3-display-hover"> 
      <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
        Buy now <i class="fa fa-shopping-cart"></i> 
      </button> 
    </div>
    <p>Unique<br><b>$540.99</b></p> 
  </div> 
  <div class="w3-display-container"> 
    <img src="https://i.pinimg.com/236x/2b/64/c0/2b64c0b8ee171edcbe87be61e642309f.jpg" style="width:100%"> 
    <div class="w3-display-middle w3-display-hover"> 
      <button class="w3-button w3-black" onclick="addToCart('cozy Sofa', 540.99)"> 
        Buy now <i class="fa fa-shopping-cart"></i> 
      </button> 
    </div>
    <p>Classy<br><b>$876.99</b></p> 
  </div> 
</div>
  

  <!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row-padding">
      <div class="w3-col s4">
        <h4>Contact</h4>
        <p>Questions? Go ahead.</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Message" name="Message" required></p>
          <button type="submit" class="w3-button w3-block w3-black">Send</button>
        </form>
      </div>

      <div class="w3-col s4">
        <h4>About</h4>
        <p><a href="#">About us</a></p>
        <p><a href="#">We're hiring</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Find store</a></p>
        <p><a href="#">Shipment</a></p>
        <p><a href="#">Payment</a></p>
        <p><a href="#">Gift card</a></p>
        <p><a href="#">Return</a></p>
        <p><a href="#">Help</a></p>
      </div>

      <div class="w3-col s4 w3-justify">
        <h4>Store</h4>
        <p><i class="fa fa-fw fa-map-marker"></i> Furni</p>
        <p><i class="fa fa-fw fa-phone"></i> 0044123123</p>
        <p><i class="fa fa-fw fa-envelope"></i> Furni1985@mail.com</p>
        <h4>We accept</h4>
        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
      </div>
    </div>
  </footer>

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

  <!-- End page content -->
</div>

<script>
// Accordion 
function myAccFunc(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
 
function addToCart(productName, productPrice) {
    fetch('{{ url_for("adding_items_ajax") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            item: productName,
            amount: productPrice
        })
    }).then(response => response.json())
    .then(data => {
          if (data.success) {
            alert(productName + ' has been added to your cart.');
        } else {
            alert('Failed to add item to cart.');
        }
    });
}

  function checkout() {
      let cart = JSON.parse(localStorage.getItem('cart'));
      alert('Proceeding to checkout...');
      // Implement checkout functionality here
  }

  // Display the cart when the page loads
  window.onload = displayCart;
</script>

    </main>
    <footer>
        <p>Copyright &#169; Ekaterine Razmadze.</p>
    </footer>
</body>
</html>