<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div>
    <div class="topnav">
        <a href="{{ url_for('index') }}"><button class="button button5">Main</button></a>
        <a href="{{ url_for('cart') }}"><button class="button button5">Cart</button></a>
        <a href="{{ url_for('home') }}"><button class="button button5">Homepage</button></a>
    </div>
</div>
    <main>
    <!-- w3schools layout -->
    <!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_clothing_store&stacked=h-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1200px">

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Patio sets</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>


  <div class="w3-container w3-text-grey" id="outdoor">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/61/7e/66/617e66adf716697f8c68cdaa7d255160.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('patio675', 1480.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Clasic<br><b>$1480.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/6a/d0/2b/6ad02b9bf7be130b1d33fcfa00f425a2.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('patio279', 1897.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Chick<br><b>$1897.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/236x/27/80/8c/27808cdcea77949eec1a1a16c6df9ca6.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('patio785', 1765.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Elegant<br><b>$1765.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/26/21/2c/26212cc632d724e96500ddfb2e07bd60.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('patio856', 1354.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>   
        <p>Comfy<br><b>$1354.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/76/28/a8/7628a8f503095ceed05972cdedea3141.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('patio888', 1644.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Cozy<br><b>$1644.99</b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/236x/6f/9f/a6/6f9fa61e4adb76c95e14597bfe36fde7.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('patio368', 1000.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Stylish<br><b class="w3-text-red">$1000.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/b0/26/99/b0269998dfc8431fdd7311828afd7faa.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('boho Sofa', 540.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Unique<br><b>$540.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/474x/a4/7a/8a/a47a8a3d123ce244c93fa701ad926d70.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('classy Sofa', 540.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Classy<br><b>$876.99</b></p>
      </div>
    </div>
  </div>

  <script>
    function addToCart(productName, productPrice) {
    fetch('{{ url_for("adding_items_ajax") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            item: productName,
            amount: productPrice
        })
    }).then(response => response.json())
    .then(data => {
          if (data.success) {
            alert(productName + ' has been added to your cart.');
        } else {
            alert('Failed to add item to cart.');
        }
    });
}
  </script>
  
        </main>
        <footer>
            <p>Copyright &#169; Ekaterine Razmadze.</p>
        </footer>
    </body>
</html>