{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>
<form action="{{ url_for('register') }}" method="post">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">    
    <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password">
    <button type="submit">Register</button>
    </form>
{% endblock %}
