<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div>
    <div class="topnav">
        <a href="{{ url_for('index') }}"><button class="button button5">Main</button></a>
        <a href="{{ url_for('cart') }}"><button class="button button5">Cart</button></a>
        <a href="{{ url_for('home') }}"><button class="button button5">Homepage</button></a>
    </div>
</div>
    <main>
    <!-- w3schools layout -->
    <!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_clothing_store&stacked=h-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1200px">

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Wallpapers</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>


  <div class="w3-container w3-text-grey" id="tools">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/19/55/15/195515d27515258a43ec38480395b026.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper175', 200.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Sheek<br><b>$200.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/83/5d/a6/835da626abda3702ebc8d10198094835.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper235', 134.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Classy<br><b>$134.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/474x/b6/c3/9b/b6c39b9e36877e477e42d848b788daa2.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('wallpaper3', 230.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Elegant<br><b>$230.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/78/28/b8/7828b8ca5efd115ce4f5e25b498416ac.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper4', 97.50)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>   
        <p>Comfy<br><b>$97.50</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/be/7f/14/be7f14303fed90a233d61639b5353000.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper5', 70.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Cozy<br><b>$70.99</b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/236x/b1/49/bf/b149bfa07dfaca0a492d4988140c02fd.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('wallpaper6', 67.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Stylish<br><b class="w3-text-red">$67.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/e2/d4/d3/e2d4d3cae6b5018184ad0f50001b6366.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper7', 58.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Unique<br><b>$58.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/23/78/50/237850a8ed72f4ad662bb51c65076465.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wallpaper8', 99.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Clasic<br><b>$99.99</b></p>
      </div>
    </div>
  </div>

  <script>
    function addToCart(productName, productPrice) {
    fetch('{{ url_for("adding_items_ajax") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            item: productName,
            amount: productPrice
        })
    }).then(response => response.json())
    .then(data => {
          if (data.success) {
            alert(productName + ' has been added to your cart.');
        } else {
            alert('Failed to add item to cart.');
        }
    });
}
  </script>

        </main>
        <footer>
            <p>Copyright &#169; Ekaterine Razmadze.</p>
        </footer>
    </body>
</html>