<!DOCTYPE html>
<html lang="eng">
    <!-- w3schools layout -->
    <!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_clothing_store&stacked=h-->
  <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <div>
      <div class="topnav">
          <a href="{{ url_for('index') }}"><button class="button button5">Main</button></a>
          <a href="{{ url_for('cart') }}"><button class="button button5">Cart</button></a>
          <a href="{{ url_for('home') }}"><button class="button button5">Homepage</button></a>
      </div>
  </div>
      <main>
      <!-- w3schools layout -->
      <!--https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_clothing_store&stacked=h-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .w3-sidebar a {font-family: "Roboto", sans-serif}
  body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
  </style>
  </head>
  <body class="w3-content" style="max-width:1200px">

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Wordrobes</p>
    <p class="w3-right">
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
    </p>
  </header>

  <div class="w3-container w3-text-grey" id="furniture">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/474x/91/30/b3/9130b387f1c135cdf031d431e715936a.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-black" onclick="addToCart('wardrobe20', 650.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Clasic<br><b>$650.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/73/da/b6/73dab6b72396dddfdb6319475f569c77.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wardrobe213', 350.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Chick<br><b>$350.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/474x/6e/9b/e6/6e9be602eb155cdafb9923051b57879f.jpg" style="width:100%">
          <span class="w3-tag w3-display-topleft">New</span>
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('wardrobe345', 332.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Elegant<br><b>$332.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/a4/bd/3a/a4bd3afa1a28d9209464b4c647c19f00.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wardrobe685', 897.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Comfy<br><b>$897.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/25/1c/02/251c023c4d761aa8b872717a4320b366.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wardrobe678', 649.50)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Cozy<br><b>$649.50</b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="https://i.pinimg.com/236x/f8/d2/b1/f8d2b1b3b7294855fb824c6f1089d845.jpg" style="width:100%">
          <div class="w3-display-middle w3-display-hover"> 
            <button class="w3-button w3-black" onclick="addToCart('wardrobe435', 540.99)"> 
              Buy now <i class="fa fa-shopping-cart"></i> 
            </button> 
          </div>
        </div>
        <p>Stylish<br><b class="w3-text-red">$540.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/4c/c4/9c/4cc49c868b802b914a02445bdbd1c180.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wardrobe765', 780.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Unique<br><b>$780.99</b></p>
      </div>
      <div class="w3-display-container">
        <img src="https://i.pinimg.com/236x/b9/f8/8b/b9f88bb3eb7c7f85460394f62e955666.jpg" style="width:100%">
        <div class="w3-display-middle w3-display-hover"> 
          <button class="w3-button w3-black" onclick="addToCart('wardrobe986', 420.99)"> 
            Buy now <i class="fa fa-shopping-cart"></i> 
          </button> 
        </div>
        <p>Classy<br><b>$420.99</b></p>
      </div>
    </div>
  </div>

  <script>
    function addToCart(productName, productPrice) {
    fetch('{{ url_for("adding_items_ajax") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            item: productName,
            amount: productPrice
        })
    }).then(response => response.json())
    .then(data => {
          if (data.success) {
            alert(productName + ' has been added to your cart.');
        } else {
            alert('Failed to add item to cart.');
        }
    });
}
  </script>
        </main>
        <footer>
            <p>Copyright &#169; Ekaterine Razmadze.</p>
        </footer>
</body>
</html>